/* MAIN */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 90px);
}

main {
  background-color: #141922;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 90px;
}

.sidebar {
  background-color: #000000;
  min-width: 230px;
  height: 100%;
}

main,.sidebar {
  overflow-y: scroll;
}

.subscription {
  text-align: right;
  position: absolute;
  width: 100%;
  height: 90px;
  line-height: 80px;
  top: 0;
  background-color: #00000075;
}

.subscription button {
  border: white 1px solid;
  border-radius: 20px;
  padding: 12px 40px;
  text-transform: uppercase;
}

.categories {
  text-align: center;
  padding: 20px 0;
}

.categories li {
  display: inline-block;
  padding: 2px 8px;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.playlist h2 {
  width: 100%;
  margin-bottom: 20px;
}

.playlist .album {
  max-width: calc(100% / 6);
  text-align: center;
  padding-right: 10px;
}

.playlist .album>* {
  margin-bottom: 12px;
}

.playlist .album img {
  width: 100%;
}

footer {
  background-color: #282828;
  display: flex;
  align-content: space-between;
  height: 90px;
}

footer .left{
  display: flex;
  align-items: left;
}

footer .right {
  display: flex;
  align-items: right;
}
